<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DATEFORMAT_PATTERN" value="${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>
<!--    <property name="LOG_DATEFORMAT_PATTERN" value="${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>-->
<!--    <property name="LOG_DATEFORMAT_PATTERN" value="${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSS'Z',UTC}"/>-->
    <property name="LOGS_DIRECTORY" value="${LOGS_DIRECTORY:-/tmp/log}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="logging/logback/console-appender.xml" />
    <include resource="logging/logback/console-appender-json.xml" />
    <include resource="logging/logback/file-appender-json.xml" />
    <include resource="logging/logback/file-appender-xml.xml" />

    <root level="INFO">
        <appender-ref ref="FILE_XML" />
        <appender-ref ref="FILE_JSON" />
        <appender-ref ref="${LOGBACK_CONSOLE_APPENDER:-CONSOLE}" />
    </root>
</configuration>
